footer {
    .container{
        margin-top: 130px;
        padding: 30px 0;
        border-top: 1px solid #C4C4C4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div{
            color: #8F95A5;
        }
    }
}