.container {
    width: 90%;
    margin: auto;
}

.desktop-hidden {
    display: none !important;
}

h1 {
    font-weight: 600;
    font-size: 64px;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: $dark-color;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 80px;
    color: $button-color;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #8F95A5;
    word-wrap: wrap;
}
