%btn-shared {
    cursor: pointer;
    border: none;
    height: 60px;
}

.btn {
    &-main {
        @extend %btn-shared;
        color: $dark-color;
        background: $secondary-color;
        padding: auto 57px;
    }
}