@import '../sass-utils/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 50px auto;
    margin-bottom: 300px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    li {
        a {
            color: $button-color;
        }
    }
}

