@media (max-width: 768px) {
    .tablet-hidden {
        display: none !important;
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px !important;
        line-height: 24px !important;
    }

    h1 {
        font-style: normal;
        font-weight: 600 !important;
        font-size: 24px !important;
        line-height: 36px;
    }

    h2 {
        font-size: 30px !important;
    }

    h3 {
        font-size: 18px !important;
    }

    header {
        .desktop-hidden {
            display: flex !important;
        }
    }
    .section-b {
        .box-color {
            padding: 0 10px !important;
        }
    }

    .btn {
        &-section-a {
            font-weight: 400;
            font-size: 18px !important;
            line-height: 27px !important;
            height: 65px;
            padding: 0 67px !important;
        }
        &-section-b {
            font-size: 16px !important;
            line-height: 24px !important;
            height: 50px;
            padding: 0 43px;
        }
    }
}